
<div id="sidebar" class="sidebar col-md-2">
  <nav role="navbar navbar-fixed-top">
    <div id="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="@Search" aria-describedby="sizing-addon2 place">
      </div>
    </div>
  </nav>
    <p>Articles will eventually appear here</p>
</div>
