.listing_outer {
  display: inline-block;
  background: #f2f2f2;
  padding: 10px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
}

a.article_title {
  font-size: 20px;
}

.article_description {
  font-size: 12px;
}

#sidebar {
  margin-top: 40px;
}
