<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Postmodern</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

<div id="zone_wrappers" class="col-md-12">
  <body>
  <div id="region_sidebar">
  <%= if Guardian.Plug.authenticated?(@conn, []) do %>
  <%= render PostmodernWeb.SharedView,"_sidebar.html", conn: @conn %>
  <% end %>
  </div>
      <main role="main"
        <div id="region_content" class="col-md-10">
          <%= render PostmodernWeb.SharedView, "_navbar.html", conn: @conn %>
        <div id="region_body" class="col-md-8">
          <div class="container-fluid">
            <%= unless is_nil(get_flash(@conn, :info)) do %>
              <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
            <% end %>
            <%= unless is_nil(get_flash(@conn, :error)) do %>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <% end %>
              <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </main>
    </div>
  </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
