<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Postmodern</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

  <%#   <%= if @current_user == !nil do %>
  <%#   <%= render "_navbar.html", conn: @conn, current_user: @current_user %>
  <%#   <% else %>
    <%= render "_navbar.html", conn: @conn %>
  <%#   <% end %>

      <main role="main">
        <div id="region_body" class="col-md-8">
        <div class="container-fluid">
          <%= unless is_nil(get_flash(@conn, :info)) do %>
            <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= unless is_nil(get_flash(@conn, :error)) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
      </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
