<div class="container-fluid">
  <div id="form_wrap" class="col-md-6">
    <h2>Edit User</h2>
    <%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>
    <span><%= link "Back", to: user_path(@conn, :index) %></span>
  </div>
</div>
