
<div class="container-fluid">
  <div id="entry" class="story_body col-md-6">
    <h2><%= @user.display_name %></h2>
    <p><%= @user.description %></p>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>

  </div>
</div>
