/* This file is for your main application css. */

body {
  margin-top: 0px !important;
}

#form_wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  float: none;
}

.container-fluid {
  margin-top: 5em;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  float: right;
  height: 46px;
  width: 100%;
  background: #fff;
}

.page {
  display:grid;
  grid-template-columns: 26vw auto;
}

.main {
  grid-column-start: 2;
}

#sidebar {
  background: #ddd;
  position: fixed;
  left: 0px;
  bottom: 0;
  padding: 0px;
  overflow-y: scroll;
  width: 26vw;
  height: 95%;
}

#story_view {
  width: 50vw;
  margin-top: 5em;
  margin-left: 1em;
}

.story {
  display: inline-block;
  background: #e7e7e7;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 1px 1px 0px #f8f8f8 inset;
}

.story:hover {
  background: #f5f5f5e6;
}

.story:active {
  background: #b0b1fe;
  color: #fff;
  box-shadow: 1px 1px 9px #8888bf inset;
}

.story_thumb {
  height: 55px;
  width: 55px;
  border: 1px solid #333;
  display: inline-block;
  vertical-align: top;
}

.story_head {
  display: block;
  margin-top: 5px;
}

.story_meta {
  display: inline-block;
  width: 84%;
}


.story_title {
  font-weight: 800;
}
.story_body {
  border: 1px solid #ddd;
  padding: 10px;
}

.story_description {
  margin-top: 10px;
}

.story_author, .story_publication{
  display: inline-block;
}

.story_publication {
  color: #a1a1a1;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
}

.story_tags {
  text-align: right;
}

.tag {
  display: inline-block;
  background: #aaa;
  color: #fff;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
  font-size: 9px;
  text-transform: uppercase;
}

h2#title {
  font-size: 35px;
}

#entry_body {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#entry_body img {
  margin: auto;
  display: block;
  max-width: 100%;
}

blockquote.big {
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  border: none;
}

blockquote.big:before, blockquote.big:after {
   content: '"';
}

.entry_text {
  font-size: 18px;
}

/* Comments */

.comment {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  background: #fefefe;
}

.comment_author, .comment_timestamp {
  display: inline-block;
  vertical-align: middle;
}

.comment_timestamp {
  float: right;
  margin-right: 5px;
  color: #7b7b7b;
}

.comment_body {
   padding: 5px 5px 0px 0px;
}

.comment_avatar {
  background: #888;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}
