/* This file is for your main application css. */

body {
  margin-top: 0px !important;
}

h2#title {
  font-size: 35px;
}

#entry_body {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

blockquote.big {
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  border: none;
}

blockquote.big:before, blockquote.big:after {
   content: '"';
}

.entry_text {
  font-size: 18px;
}

/* Comments */

.comment {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  background: #fefefe;
}

.comment_author, .comment_timestamp {
  display: inline-block;
  vertical-align: middle;
}

.comment_timestamp {
  float: right;
  margin-right: 5px;
  color: #7b7b7b;
}

.comment_body {
   padding: 5px 5px 0px 0px;
}

.comment_avatar {
  background: #888;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}
