<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Postmodern" %></h2>
  <p class="lead">A federated writing platform</p>
  <p>This app is under development. Watch this space. In the meantime, feel
  free to check out the <a href="/dashboard">dashboard demo</a> to get a
  better of how things will look.</p>
</div>
