
<div id="sidebar" class="sidebar col-md-3">
  <nav role="navbar navbar-fixed-top">
    <div id="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="@Search" aria-describedby="sizing-addon2 place">
      </div>
    </div>
  </nav>
      <%= render "_articles.html", articles: @articles, conn: @conn %>
</div>
