<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>

<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>


<div class="story">
  <div class="story_thumb">
  </div>
  <div class="story_meta">
    <div class="story_title">Title of an Article</div>
    <div class="story_author">Sean Tilley</div>
  </div>
</div>
