<div id="sidebar">
  <%= render "_sidebar.html" %>
</div>

<div class="page">
  <div class="main">
    <div id="story_view">
      <div class="story_body">
        <%= render "_story.html" %>
      </div>
  </div>
</div>

</div>
