<h2>Edit Profile</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_profile_path(@conn, :update, @user, @profile) %>

<span><%= link "Back", to: user_profile_path(@conn, :index, @user) %></span>
